<head>
<style script="text/css">
@import url(https://fonts.googleapis.com/css?family=Inconsolata&subset=latin,latin-ext);
body {
  font-family: inconsolata;
}
#result{
  height: 97vh;
}
</style>
</head>
<div id="result">
<%=@result %>
</div>
